<% provide(:title, @user.name) %>
<div class="container">
  <div>
    <table class="table table-bordered table-condensed user-table" id="table-attendances">
      <tr>
        <td>
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
          &emsp;&emsp;
          <%= l(@first_day, format: :middle) %>&emsp;時間管理表
          &emsp;&emsp;
          <%= link_to "→︎", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </td>

        <td rowspam="2">
          指定勤務開始時間　<%= @user.defalut_work_start_time.strftime('%H:%M') %></br>
          指定勤務終了時間　<%= @user.defalut_work_end_time.strftime('%H:%M') %>
        </td> 

        <td colspan="3"><%= format_basic_info(@user.work_time) %>　基本時間</td> 

        <td>初日　<%= l(@first_day, format: :short) %></td>
      </tr>
      
      <tr>
        <td>所属　<%= @user.department.present? ? @user.department : "未所属" %></td>
        <td>名前　<%= @user.name %></td>
        <td>コード</td>
        <td><%= @user.employees_number %></td>
        <td>出勤日数　<%= @worked_sum1 %>日</td>
        <td>締め　<%= l(@last_day, format: :short) %></td>
      </tr>
    </table>
  </div>
  
  <% if logged_in? %>
  <div>
    <p>
      <% if [current_user.department == "開発" || current_user.name == "上長A"] && current_user.superior == true && @applies_count > 0 then %>
        <%= link_to "【所属長承認申請のお知らせ】", edit_one_month_user_apply_path(@user), remote: true, class: "superior_tag", :style=>"color:red;"%>
          <span>
            <strong>  
              <%= "#{@applies_count}件の通知があります" %></br>
            </strong>
          </span>
      <% elsif [current_user.department == "営業" || current_user.name == "上長B"] && current_user.superior == true && @applies_count > 0 then %>
        <%= link_to "【所属長承認申請のお知らせ】", edit_one_month_user_apply_path(@user), remote: true, class: "superior_tag", :style=>"color:red;" %>
          <span>
            <strong>
              <%= "#{@applies_count}件の通知があります" %></br>
            </strong>
          </span>
      <% elsif @user.superior == true %>
        <%= "【所属長承認申請のお知らせ】" %></br>
      <% end %>
      <% if [current_user.department == "開発" || current_user.name == "上長A"]  && current_user.superior == true && @notices_count > 0 then %>
        <%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_attendance_up_user_attendance_path(@user), remote: true, class: "superior_tag", :style=>"color:red;" %>
          <span>
            <strong>
              <%= "#{@notices_count}件の通知があります" %></br>
            </strong>
          </span>
      <% elsif [current_user.department == "営業" || current_user.name == "上長B"] && current_user.superior == true && @notices_count > 0 then %>
        <%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_attendance_up_user_attendance_path(@user), remote: true, class: "superior_tag", :style=>"color:red;" %>
          <span>
            <strong>
              <%= "#{@notices_count}件の通知があります" %></br>
            </strong>
          </span>
      <% elsif @user.superior == true %>
        <%= "【勤怠変更申請のお知らせ】" %></br>
      <% end %>
      <% if [current_user.department == "開発" || current_user.name == "上長A"] && current_user.superior == true && @notices_toA_sum2 > 0 then %>
        <%= link_to "【残業申請のお知らせ】", edit_notice_overtime_user_attendance_path(@user), remote: true, class: "superior_tag", :style=>"color:red;" %>
          <span>
            <strong>
              <%= "#{@notices_toA_sum2}件の通知があります" %>
            </strong>
          </span>
      <% elsif [current_user.department == "営業" || current_user.name == "上長B"] && current_user.superior == true && @notices_toB_sum2 > 0 then %>
        <%= link_to "【残業申請のお知らせ】", edit_notice_overtime_user_attendance_path(@user), remote: true, class: "superior_tag", :style=>"color:red;" %>
          <span>
            <strong>
              <%= "#{@notices_toB_sum2}件の通知があります" %>
            </strong>
          </span>
      <% elsif @user.superior == true %>
        <%= "【残業申請のお知らせ】" %>
      <% end %>
    </p>
  </div>
  <% end %>
  
  <div class="btn-users-show">
    <span><%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %></span>
    <span><%= link_to "CSV出力", attendances_edit_one_month_user_path(date: @first_day, format: :csv), class: "btn btn-primary" %></span></br>
    <span><%= link_to "勤怠修正ログ（承認済）", attendances_edit_attendance_log_user_path(date: @first_day), remote:true,class: "btn btn-primary" %></span>
  </div>
  
  <div>
    <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
      <thead>
        <tr>
          <th rowspan="3">残業申請</th>
          <th rowspan="3">日付</th>
          <th rowspan="3">曜日</th>
          <th colspan="8">【実績】</th>
          <th colspan="6">所定外勤務</th>
        </tr>
        <tr>
          <th colspan="3">出社</th>
          <th colspan="3">退社</th>
          <th rowspan="3">在社時間</th>
          <th rowspan="3">備考</th>
          <th colspan="2">終了予定時間</th>
          <th rowspan="2">時間外時間</th>
          <th rowspan="2">業務処理内容</th>
          <th rowspan="2">支持者確認㊞</th>
        </tr>
        <tr>
          <th>時</th>
          <th>分</th>
          <th></th>
          <th>時</th>
          <th>分</th>
          <th></th>
          <th>時</th>
          <th>分</th>
        </tr>
      </thead>
      
      <tbody>
        <% @attendances.each do |day| %>
          <tr>
            <td>
              <%= link_to "残業申請", edit_overtime_request_user_attendance_path(@user, day), remote: true, class: "btn btn-primary btn-md" %>
            </td>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td class= "<%= css_class(day.worked_on) %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
            <% if day.before_started_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
              <td><%= l(day.before_started_at.floor_to(60*15), format: :hour) %></td>
            <% elsif day.started_at.present? && day.change_attendance == nil %>
              <td><%= l(day.started_at.floor_to(60*15), format: :hour) %></td>
            <% else%>
              <td></td>
            <% end %>
            <% if day.before_started_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
              <td><%= l(day.before_started_at.floor_to(60*15), format: :time) %></td>
            <% elsif day.started_at.present? && day.change_attendance == nil %>
              <td><%= l(day.started_at.floor_to(60*15), format: :time) %></td>
            <% else%>
              <td></td>
            <% end %>
            <td>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-block" %>
              <% end %>
            </td>
            <% if day.before_finished_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
              <td><%= l(day.before_finished_at.floor_to(60*15), format: :hour) %></td>
            <% elsif day.finished_at.present? && day.change_attendance == nil %>
              <td><%= l(day.finished_at.floor_to(60*15), format: :hour) %></td>
            <% else%>
               <td></td>
            <% end %>
            <% if day.before_finished_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
              <td><%= l(day.before_finished_at.floor_to(60*15), format: :time) %></td>
            <% elsif day.finished_at.present? && day.change_attendance == nil %>
              <td><%= l(day.finished_at.floor_to(60*15), format: :time) %></td>
            <% else%>
               <td></td>
            <% end %>
            <td></td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? && day.before_started_at.present? && day.before_finished_at.present? && day.change_attendance == true && day.next_day2 == true && day.confirmation_change_status == "承認" %>
                <%= str_times =  format("%.2f", (((day.before_finished_at.floor_to(60*15) - day.before_started_at.floor_to(60*15)) / 60) / 60.0) + 24) %>
                <% @total_working_time = @total_working_time.to_f + str_times.to_f %>
              <% elsif day.started_at.present? && day.finished_at.present? && day.before_started_at.present? && day.before_finished_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
                <%= str_times =  format("%.2f", (((day.before_finished_at.floor_to(60*15) - day.before_started_at.floor_to(60*15)) / 60) / 60.0)) %>
                <% @total_working_time = @total_working_time.to_f + str_times.to_f %>
              <% elsif day.before_started_at.present? && day.before_finished_at.present?  && day.before_finished_at.present? && day.change_attendance == true && day.next_day2 == true && day.confirmation_change_status == "承認" %>
                <%= str_times =  format("%.2f", (((day.before_finished_at.floor_to(60*15) - day.before_started_at.floor_to(60*15)) / 60) / 60.0) + 24) %>
                <% @total_working_time = @total_working_time.to_f + str_times.to_f %>
              <% elsif day.before_started_at.present? && day.before_finished_at.present?  && day.before_finished_at.present? && day.change_attendance == true && day.confirmation_change_status == "承認" %>
                <%= str_times =  format("%.2f", (((day.before_finished_at.floor_to(60*15) - day.before_started_at.floor_to(60*15)) / 60) / 60.0)) %>
                <% @total_working_time = @total_working_time.to_f + str_times.to_f %>
              <% elsif day.started_at.present? && day.finished_at.present? %>
                <%= str_times =  format("%.2f", (((day.finished_at.floor_to(60*15) - day.started_at.floor_to(60*15)) / 60) / 60.0)) %>
                <% @total_working_time = @total_working_time.to_f + str_times.to_f %>
              <% end %>
            </td>
            <td><%= day.note %></td>
            <td><%= l(day.scheduled_end_time, format: :hour) if day.scheduled_end_time.present? %></td>
            <td><%= l(day.scheduled_end_time.floor_to(60*15), format: :time) if day.scheduled_end_time.present? %></td>
            <td>
              <% if day.scheduled_end_time? && day.next_day == false %>
                <%= str_times = (((day.scheduled_end_time.floor_to(60*15) - day.scheduled_end_time.change(hour:17).change(min:30).floor_to(60*15)) / 60) / 60) %>
              <% elsif day.scheduled_end_time? && day.next_day == true %> 
                <%= str_times = (((day.scheduled_end_time.floor_to(60*15) - day.scheduled_end_time.change(hour:17).change(min:30).floor_to(60*15)) / 60) / 60) + 24 %>
              <% end %>
            </td>
            <td><%= day.business_process %></td>
            <% if day.overtime_status != "申請中" && day.confirmation_id_zangyou? && day.change == true %>
              <td>
                <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:' %><%= day.overtime_status %></br>
                <% if day.confirmation_change_status != "申請中" && day.change_attendance == true %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:' %><%= day.confirmation_change_status %></br>
                <% elsif day.confirmation_change_status? && day.confirmation_change_status != "申請中" && day.change_attendance == nil %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:'%><%= "申請中" %></br>
                <% elsif day.confirmation_change_status == "申請中" && day.change_attendance == nil && day.confirmation_id? %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:'%><%= "申請中" %>
                <% end %>
              </td>
            <% elsif day.confirmation_id_zangyou? && [day.overtime_status == "申請中" || day.change == false || day.change == nil] %>
              <td>
                <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:' %><%= "申請中" %></br>
                <% if day.confirmation_change_status != "申請中" && day.change_attendance == true %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:' %><%= day.confirmation_change_status %></br>
                <% elsif day.confirmation_change_status? && day.confirmation_change_status != "申請中" && day.change_attendance == nil %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:'%><%= "申請中" %></br>
                <% elsif day.confirmation_change_status == "申請中" && day.change_attendance == nil && day.confirmation_id? %>
                  <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:'%><%= "申請中"  %></br>
                <% end %>
              </td>    
            <% elsif day.confirmation_change_status == "申請中" && day.confirmation_id? %>
              <td>
                <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:' %><%= "申請中" %></br>
                <% if day.overtime_status != "申請中" && day.confirmation_id_zangyou? && day.change == true %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:' %><%= day.overtime_status %></br>
                <% elsif day.overtime_status == "申請中" && day.confirmation_id_zangyou? && day.change == true  %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:'%><%= day.overtime_status %></br>
                <% end %>
              </td>
            <% elsif day.confirmation_change_status != "申請中" && day.confirmation_id? && day.change_attendance == nil %>
              <td>
                <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:' %><%= "申請中" %></br>
                <% if day.overtime_status != "申請中" && day.confirmation_id_zangyou? && day.change == true %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:' %><%= day.overtime_status %></br>
                <% elsif day.overtime_status == "申請中" && day.confirmation_id_zangyou? && day.change == true  %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:'%><%= day.overtime_status %></br>
                <% end %>
              </td>
            <% elsif day.confirmation_change_status != "申請中" && day.confirmation_change? && day.change_attendance == true %>
              <td>
                <%= @users.find(day.confirmation_id).name %><%= 'に勤怠変更申請:' %><%= day.confirmation_change_status %></br>
                <% if day.overtime_status != "申請中" && day.confirmation_id_zangyou? && day.change == true %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:'%><%= day.overtime_status %></br>
                <% elsif day.overtime_status == "申請中" && day.confirmation_id_zangyou? && day.change == true %>
                  <%= @users.find(day.confirmation_id_zangyou).name %><%= 'に残業申請:'%><%= day.overtime_status %></br>
                <% end %>
              </td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      
      <tfoot>
        <tr>
          <td rowspan="3"></td>
          <td colspan="2" rowspam="3"></td>
          <td colspan="6" rowspam="3"></td>
          <td rowspam="3"><%= format("%.2f", @total_working_time.to_f) %></td>
          <td colspan="5" rowspam="3"></td>
          <td>
            <%= "所属長申請" %>
            <% @firstday.each do |day| %>
              <% @applies2.where(month: day.worked_on).each do |apply| %>
              <!%  attendance.all.where(month: day.worked_on).each do |apply| %>
                <% if apply.authorizer_name? && apply.authorizer_name != "申請中" && apply.change == true %>
                  <%= ":" %><%= @users.find(apply.authorizer).name + "から" %><%= apply.authorizer_name %>
                <% elsif apply.authorizer_name? && apply.authorizer_name != "申請中" && apply.change != true %>
                  <%= ":"%><%= @users.find(apply.authorizer).name %><%="に申請中" %>
                  <% break %>
                <% elsif apply.authorizer_name? && apply.authorizer_name == "申請中" && apply.change != true %>
                  <%= ":"%><%= @users.find(apply.authorizer).name %><%="に申請中" %>
                  <% break %>
                <% elsif apply.authorizer_name? && apply.authorizer_name == "申請中" %>
                  <%= ":"%><%= @users.find(apply.authorizer).name %><%="に申請中" %>
                  <% break %>
                <% end %>
              <% end %>
              <%= form_with(model: @apply, url: user_apply_path(@user), method: :patch, local: true) do |f| %>
                <%= f.collection_select(:authorizer, User.where(superior: true).where.not(id: params[:id]), :id, :name, {prompt: ""}) %>
                <%= f.submit "申請", class: "btn btn-primary" %>
                <%= f.hidden_field :authorizer_name, :value => "申請中" %>
                <%= f.hidden_field :user_name, :value => @user.name %>
                <%= f.hidden_field :month, :value => day.worked_on %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
​
<div id="edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-notice-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-one-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-attendance-up" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-attendance-log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>